extends base

block content
    #my-properties-img
        h2#topic-one Heading
        ion-icon.menu-icon(class="ion-navicon-round", onClick="openMenu()", name="menu")
        section#nav
            ul.qwerty
                h1#topic Heading
                li.left-list: .dropdown
                        button.navBtn(class='dropbtn') Sort By
                        .dropdown-content-1
                            a(href="/min-to-max-price") Min-Max Price
                            a(href="/max-to-min-price") Max-Min Price
                            a(href="/min-to-max-rating") Min-Max Rating
                            a(href="/max-to-min-rating") Max-Min Rating
                li.left-list: button.navBtn(onClick="showPosition('nearMe')") Buildings Near me
                li.left-list: .dropdown
                        button.filter.navBtn(class='dropbtn') Filter
                        .dropdown-content-2
                            p Buildings Within Distance(in meters)
                            p.zero 0
                            input#distance-range(type="range", min="0", max="10000", value="0")
                            p.thousand 10000
                            <p class="value">Value: <span id="demo"></span></p>
                            button(onClick="showPosition('buildingWithin')") Show
                li.left-list: a.sell.navlink(href="/sellBuilding") Sell Property 
            
                if user 
                    li.user-home: a.navlink(class="signup", href="/me")= user.name
                    img.img-home(src=`/img/users/${user.photo}`)
                    li.logout-home: button.navBtn#logout(class="login") Log Out

    h2#apartments Saved Apartments        
    <div id="right-button" style="visibility: hidden;" onClick="rightClick()"><i class="overview-left-btn fas fa-chevron-left"></i></div>
    section#body                    
        form#wishlist-page
            #overview-container.grid-container
                input#totalBuildings(value=`${buildings.length}`, style="display: none;")
                each building in buildings
                    div.card
                        img(src="https://property.magicbricks.com/mb-microsite/uttamnagarfloors-aggarwalrealestates-delhi/images/gallery/g1.jpg", class="card-img-top", alt="house_1")
                        //- .inr-icon
                        .fas.fa-rupee-sign.fa-sm
                        h2.card-title= `${building.price}`
                        //- br
                        p.onwards Onwards
                        h3= `${building.name}`
                        //- br
                        p.by By Agrani Homes Real Marketing Pvt Ltd
                        .fas.fa-map-marker-alt.fa-sm 
                        p.area= building.address
                        //- hr
                        //- each flatType in building.propertiesAvailable
                        p.text-muted=`Flats Available: ${building.propertiesAvailable} BHK` 
                        p.averageRating= `Avg Rating: ${building.ratingsAverage}`
                        i.fa.fa-star-o
                        p.ratingQuantity= `Toal ratings: ${building.ratingsQuantity}`
                        hr
                        input#wishlistId(type="text", class=`${building.name}`, value=`${building._id}`, style="display: none;") 
                        button.delete-wishlist.btn.wishlist-btn(onClick=`deleteWishlist('${building.name}')`) Remove
                        a.detail-btn(href=`/houses/${building.slug}`) Details
                        //- input.buildId(type="text", class=`${building.name}`, value=`${building._id}`) 
                        
    <div id="left-button" onClick="leftClick()"><i class="fa fa-chevron-right overview-right-btn"></i></div>   
        //- form#wishlist-page.grid-container
        //-     each building in buildings
        //-         div.card
        //-             img(src="https://property.magicbricks.com/mb-microsite/uttamnagarfloors-aggarwalrealestates-delhi/images/gallery/g1.jpg", class="card-img-top", alt="house_1")
        //-             i.fas.fa-rupee-sign.fa-sm
        //-             h2.card-title= `${building.price}`
        //-             br
        //-             p.onwards Onwards
        //-             h3= `${building.name}`
        //-             br
        //-             p.by By Agrani Homes Real Marketing Pvt Ltd
        //-             p.area
        //-             i.fas.fa-map-marker-alt.fa-sm Nehru Nagar, Patna
        //-             hr
        //-             //- each flatType in building.propertiesAvailable
        //-             p.text-muted=`${building.propertiesAvailable} BHK` 
        //-             p.text-muted.text-mute= `${building.ratingsAverage}rating (${building.ratingsQuantity})`
        //-             a.detail-btn(href=`/houses/${building.slug}`) Details
        //-             input#wishlistId(type="text", class=`${building.name}`, value=`${building._id}`) 
        //-             button.delete-wishlist(onClick=`deleteWishlist('${building.name}')`) Remove
