extends base

block append head
    script(src= 'https://api.mapbox.com/mapbox-gl-js/v1.10.1/mapbox-gl.js')
    link(href= 'https://api.mapbox.com/mapbox-gl-js/v1.10.1/mapbox-gl.css' rel= 'stylesheet')

block content
    section#fullResidentialHouseBody
        section#overviewSection
            #overviewPartOne
                #insidePartOneOne
                    h2= `${residentialHouse.flatType} BHK Independent House`
                    h4= `${residentialHouse.name}, ${residentialHouse.address}`
                #insidePartOneTwo
                    .fas.fa-rupee-sign.fa-sm
                    h2= `${residentialHouse.price} ${residentialHouse.priceUnit}`
                    p= `${residentialHouse.pricePerUnit} K/sq.ft`
                    button Contact Owner
            #overviewPartTwo
                img(src=`/img/residentialHouse/${residentialHouse.imageCover}` alt="Independent House Pic Not Available")
            #overviewPartThree
                #overviewBuildUpArea
                    p= `${residentialHouse.sqftArea} sq.ft`
                    h6 Build Up Area
                #overviewAvgPrice
                    .fas.fa-rupee-sign.fa-sm
                    p= `${residentialHouse.pricePerUnit} sq.ft`
                    h6 Price Per Unit
                #overviewConfiguration
                    p= `${residentialHouse.flatType} BHK`
                    h6 Configuration
                #overviewPossessionStatus
                    p= `20th June, 2020`
                    h6 Possesion Status
                #overviewFurnishing
                    p= `Semi Furnished`
                    h6 Furnishing
        section#navContainer
            ul#navba.qwert
                li: a(href="/") All Buildings
                li.over: a(href="#") Overview
                li.one-word: a(href="#") Ameneties
                li.one-word: a(href="#") Location
                li.one-word: a(href="#") Photos
                li.one-word: a(href="#") Reviews
                li.one-word: a(href="#") Builder
            
                if user 
                    li.user-name: a(class="signup", href="/me")= user.name
                    img.user-img.building-page-img(src=`/img/users/${user.photo}`)
                    li: button#logout(class="login") Log Out
                else
                    li.one-word.one-word-signup(style="float:right"): a(class="signup", href="/signup") Sign Up
                    li.one-word(style="float:right"): a(class="login", href="/login") Log In
        section#secondHalfSection
            section#secondHalf
                section#overviewSecondHalf
                    h2 Overview
                    #overviewHouseDetails
                        #firstDetail
                            h6 Project Name
                            p= `${residentialHouse.name}`
                        #secondDetail
                            h6 Price
                            p= `${residentialHouse.price} ${residentialHouse.priceUnit}`
                        #thirdDetail
                            h6 Flat Type
                            p= `${residentialHouse.flatType}`
                        #fourDetail
                            h6 Bedrooms
                            p= `${residentialHouse.bedrooms}`
                        #fifthDetail
                            h6 Bathrooms
                            p= `${residentialHouse.bathrooms}`
                        #sixthDetail
                            h6 Added
                            p= `${residentialHouse.addedDate}`
                    #aboutThis
                        h3 About This Property
                        h6#readDesc.hideDesc= `${residentialHouse.description}`
                    hr
                    p#moreRead(onClick='readAll()') Read More 

                section#contactSecondHalf
                    h4 Contact Seller
                    #seller
                        #sellerImg
                            img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRjP6YGqqvS0E3zO5_pxnk6bHpC2Edvt-cIGg&usqp=CAU" alt="seller_img")
                        #sellerDetails
                            h6 Seller Name
                            h6.sellerOwner Owner
                            h6 Seller Half Phone
                    #contactSellerForm
                        h5 Please Share Your Contact
                        input(type="text" placeholder="Name")
                        input(type="text" placeholder="Phone")
                        input(type="text" placeholder="Email")
                        button Get Contact Details

        section#localitySection 
            #locationHeadings
                h2#locH(onClick="showAdv()") Location
                h2#advH.advH(onClick="hideAdv()") Advantages  
            #locality
                //- .map-container
                #mapLoc(data-locations=`${JSON.stringify(residentialHouse.coordinates)}`)
            #lacAd.lacAd
                each adv in residentialHouse.locationAdvantages
                    p= `- ${adv}`

        <div id="right-button-pics-ih" style="visibility: hidden;" onClick="rightClickPicsIh()"><i class="pics-left-btn-ih fas fa-chevron-left"></i></div>
        section#photosGallery 
            h2 Gallery
            #gallery
                each img, i in residentialHouse.images
                    .picture-box-ih
                        img.picture-box__imgIh(src=`/img/residentialHouse/${img}`, alt=`The Park Camper Tour ${i + 1}`, class=`picture-box__imgIh--${i + 1}`)
        <div id="left-button-pics-ih" onClick="leftClickPicsIh()"><i class="fa fa-chevron-right pics-right-btn-ih"></i></div>   

        //- sction#reviewrH.reviewRh
        //-     h2 Reviews
        //-     each review in reviews
        //-         .review-container-rh
        //-             .user-review-rh
        //-                 img.user-avatar(src=`/img/users/${review.user.photo}`)
        //-                 h6.user-name-review= review.user.name
        //-             p= review.review
        //-             .reviews__rating-rh
        //-                 each star in [1, 2, 3, 4, 5]
        //-                     svg.reviews__star-rh(class=`reviews__star--${review.rating >= star ? 'active' : 'inactive'}`)
        //-                         use(xlink:href='/img/icons.svg#icon-star')
